body {
  margin: 0;
  padding: 0;
  background: #00953b;
  min-height: 100vh;
}

main {
  min-height: 100vh;
}

.container-login {
  width: 25%;
  padding: 30px;
  background: #1c5733;
  color: #fff;
}

h1 {
  margin: 0;
}
