body {
  margin: 0;
  padding: 0;
  background: #0060ae;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

main {
  height: 100vh;
  padding-top: 0;
}

.container-login {
  width: 33%;
  min-width: 450px;
  height: 100%;
  padding: 45px 30px;
  margin: 0 0 0 auto;
  background: #fff;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.error {
  color: #e60012;
  font-weight: bold;
  font-family: "Patua One", serif;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #111;
  max-width: 100%;
  height: auto !important;

  line-height: 28px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #2c2a2b;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

h1 {
  margin: 0;
  font-family: "Patua One", serif;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

button {
  display: inline-block;
  position: relative;
  line-height: 28px;
  padding: 11px 20px 9px 20px;
  background: #e60012;
  text-decoration: none;
  font-family: "Patua One", arial;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #fff !important;
  border: 0px;
  -webkit-appearance: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

button:hover {
  background: #d10000;
  color: #fff !important;
}

img {
  position: absolute;
  bottom: 45px;
  left: 45px;
}

@media screen and (max-width: 700px) {
  img {
    bottom: auto;
    top: 25px;
    z-index: -1;
    max-height: 75vh;
    max-width: calc(100vw - 90px);
  }

  .container-login {
    min-width: auto;
    height: auto;
    position: fixed;
    margin: 0 15px;
    bottom: calc(15px + env(safe-area-inset-bottom));
    width: calc(100% - 30px);
    padding: 30px;
  }
}
