body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

main {
  position: relative;
  z-index: 1;
}

div.title {
  padding: 20px;
  background: #0060ae;
}

div.title h1 {
  font-family: "Patua One", serif;
  color: #fff;
  text-align: center;
  margin: 0;
}

div.content {
  padding: 20px;
}

.navigation {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #0060ae;
  z-index: 999;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  margin-bottom: env(safe-area-inset-bottom);
}

.navigation ul li {
  list-style: none;
  color: #fff;
}

.navigation ul li a {
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 15px 50px;
}

.buttons {
  position: fixed;
  bottom: 0;
  right: 15px;
  margin-bottom: calc(65px + env(safe-area-inset-bottom));
  z-index: 999;
  display: flex;
  gap: 10px;
}

.buttons .button {
  aspect-ratio: 1;
  width: 60px;
  line-height: 40px;
  text-align: center;
}

#map {
  height: 100vh;
  width: 100%;
}

input {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 100;
  color: #111;
  max-width: 100%;
  height: auto !important;

  line-height: 28px;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #2c2a2b;
  width: 100%;
  -webkit-appearance: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.button {
  display: inline-block;
  position: relative;
  line-height: 28px;
  padding: 11px 20px 9px 20px;
  background: #e60012;
  text-decoration: none;
  font-family: "Patua One", arial;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: #fff !important;
  border: 0px;
  -webkit-appearance: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.button:hover {
  background: #d10000;
  color: #fff !important;
}
